<div class="row">
  <%= content_tag :div, class: (comment.root? ? 'col-xs-12 comment comment-parent' : 'col-xs-offset-1 col-xs-11 comment comment-child') do %>

    <div class="comment-body">
      <strong class="gt-top"><%= comment.user.username.humanize %></strong>
      <small><%= l comment.created_at, format: :short %></small>
      <div><%= comment.body %></div>
    </div>

    <% if user_signed_in? %>
      <%= link_to 'reply', '#', class: 'btn-xs', data: { comment: 'reply' } %>
    <% end %>

    <%= content_tag :div, class: 'hidden', data: { comment: 'form' } do %>
      <%= render 'comments/form', comment: comment %>
    <% end %>

    <%= render comment.children %>
  <% end %>
</div>
