<h1>Links</h1>

<table class="gt-top-lg table">
  <thead>
    <tr>
      <th>Path</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @urls.each do |url| %>
      <tr>
        <td><a href="<%= url.path %>" target="_blank" class="full-width block"> <%= url.path %> </a></td>
        <td>
          <%= link_to url, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <%= icon('close', '', class: 'btn text-muted pull-right') %>
          <% end %>

          <%= link_to edit_url_path(url) do %>
            <%= icon('pencil', '', class: 'btn text-muted pull-right') %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td><h2><%= url.preview['title']%></h2></td>
        <td><p><%= url.preview['description']%></p></td>
        <td><%= image_tag url.preview['thumbnail_url'], class: "img-responsive center" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
