<%= form_for(@link, class: 'form-horizontal') do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this url from being saved:</h2>

      <ul>
      <% @link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group" data-toggle="buttons">
    <%= f.fields_for :bookmarks, @link.bookmark_for(current_user) do |bookmark_form| %>
      <%= bookmark_form.label :private, class: "btn btn-private pull-right #{'active' if bookmark_form.object.private?}"  do %>
        <%= bookmark_form.check_box :private %> This link is
      <% end %>
    <% end %>
  </div>

  <div class="form-group clearfix">
    <h2>Add tags</h2>
    <%= f.text_field :tag_list, value: @link.tag_list.join(', '), class: "form-control input-lg", data: { input: 'select2', options: { tags: tag_collection } } %>
  </div>

  <div class="form-group">
    <%= f.submit "Save tags", class: "btn btn-success btn-lg pull-right" %>
  </div>
<% end %>
