<div class="row cards">

  <div class="col-sm-6">

    <%= link_to url_with_protocol(@link.url), target: '_blank', rel: 'nofollow', data: { outbound_link: true } do %>
      <div class="panel panel-default card">
        <div class="panel-heading">
          <%= image_tag @link.favicon_url, width: '16px', class: "img-responsive favicon left gt-right" %>
          <h1 class="panel-title gt-reset text-inline">
            <%= @link.provider_name %>
          </h1>
        </div>

        <div class="row">
          <div class="col-xs-5 col-sm-12">
            <% if @link.html.present? == true %>
              <div class="embed-responsive embed-responsive-4by3">
                <%= raw @link.html %>
              </div>
            <% else %>
              <%= image_tag @link.thumbnail_url, class: "img-responsive center-block lead-img" %>
            <% end %>
          </div>
          <div class="col-xs-7 col-sm-12">
            <div class="panel-body">
              <h2 class="title gt-reset"><%= @link.title %></h2>
              <p class="hidden-xs description gt-top">
                <%= @link.description.to_s.truncate(140) %>
              </p>

            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% if @link.persisted? %>
      <strong>Shared by:</strong>
      <%= raw @link.users.map { |user| link_to user.username.humanize, user_links_path(user) }.join(', ') %>
    <% end %>

  </div>

  <div class="col-sm-6">
    <div class="tags">
      <%= form_for(@link, class: 'form-horizontal') do |f| %>
        <%= f.hidden_field :url %>
        <%= f.hidden_field :title %>
        <%= f.hidden_field :description %>
        <%= f.hidden_field :favicon_url %>
        <%= f.hidden_field :provider_name %>
        <%= f.hidden_field :provider_url %>
        <%= f.hidden_field :media_type %>
        <%= f.hidden_field :html %>
        <%= f.hidden_field :thumbnail_url %>

        <% if @link.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@link.errors.count, "error") %> prohibited this url from being saved:</h2>

            <ul>
            <% @link.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group" data-toggle="buttons">
          <%= f.fields_for :bookmarks, @link.bookmark_for(current_user) do |bookmark_form| %>
            <%= bookmark_form.label :private, class: "btn btn-private pull-right #{'active' if bookmark_form.object.private?}"  do %>
              <%= bookmark_form.check_box :private %> This link is
            <% end %>
          <% end %>
        </div>

        <div class="form-group clearfix">
          <h2>Add tags</h2>
          <%= f.text_field :tag_list, value: @link.tag_list.join(', '), class: "form-control input-lg", data: { input: 'select2', options: { tags: tag_collection } } %>
        </div>

        <div class="form-group">
          <%= f.submit class: "btn btn-success btn pull-right" %>
        </div>

        <% if policy(@link).remove? %>
          <small>
            <%= link_to remove_link_path(@link), method: :post, data: { confirm: 'Are you sure?' }, class: 'btn btn-muted' do %>
              <%= icon 'close' %>
              Remove link from my collection
            <% end %>
          </small>
        <% end %>
      <% end %>

    </div>
  </div>

</div>
