<% if link.liked_by?(current_user) %>
  <div class="vote voted">
    <span class="badge"><%= icon 'caret-up' %>
      <span class="like-count text-inline">
        <%= count %>
      </span>
    </span>
  </div>
<% else %>
  <div class="vote">
    <span class="badge">
      <%= link_to like_link_path(link), remote: true, method: 'POST' do %>
        <%= icon 'caret-up' %>
        <span class="like-count text-inline">
          <%= count %>
        </span>
      <% end %>
    </span>
  </div>
<% end %>
