<div class="box col-xs-12 col-sm-4">
  <div class="panel panel-default card">
    <div class="panel-heading">
      <%= image_tag link.favicon_url, width: '16px', class: "img-responsive favicon left gt-right" %>
      <h3 class="panel-title gt-reset text-inline">
        <%= link_to link.provider_name, link.provider_url %>
      </h3>

    </div>

    <%= link_to url_with_protocol(link.url), :target => '_blank', :rel => 'nofollow' do %>

      <div class="row opacity-hover">
        <div class="col-xs-5 col-sm-12">
          <% if link.html.present? == true %>
            <div class="embed-responsive embed-responsive-4by3">
              <%= raw link.html %>
            </div>
          <% else %>
            <%= image_tag link.thumbnail_url, class: "img-responsive center-block" %>
          <% end %>
        </div>
        <div class="col-xs-7 col-sm-12">
          <div class="panel-body">
            <h2 class="title gt-reset"><%= link.title %></h2>
            <p class="hidden-xs description gt-top">
              <%= link.description.to_s.truncate(140) %>
            </p>

            <%= render link.tags %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="panel-footer opacity-hover">
      <h3 class="panel-title">
        <%= link_to link_path(link) do %>
          <div class="pull-left">Comments</div>
          <div class="pull-right">0</div>
          <div class="clearfix"></div>
        <% end %>
      </h3>
    </div>

  </div>
</div>
