<h1>Editing link</h1>

<%= render 'form' %>

 <div class="hidden-xs">
  <% if user_signed_in? %>

    <%= link_to link, method: :delete, data: { confirm: 'Are you sure?' } do %>
      <%= icon('close', '', class: 'btn text-muted pull-right') %>
    <% end %>

    <%= link_to edit_link_path(link) do %>
      <%= icon('pencil', '', class: 'btn text-muted pull-right') %>
    <% end %>
  <% end %>
</div>

<div class="gt-top">
  <%= link_to 'Back', root_url %>
</div>
