<div class="row cards">
  <% @links.each do |link| %>
    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="panel panel-default card">
        <div class="panel-heading">
          <%= image_tag link.favicon_url, width: '16px', class: "img-responsive favicon left gt-right" %>
          <h3 class="panel-title gt-reset text-inline">
            <%= link.provider_name %>
          </h3>

          <!-- TODO: Add when votesystem is done
          <div class="vote pull-right text-center">
            <%= icon 'caret-up' %>
            <p>89</p>
          </div>
          -->
        </div>

        <%= link_to link.url, target: '_blank' do %>

          <div class="row">
            <div class="col-xs-5 col-sm-12">
              <% if link.html.present? == true %>
                <div class="embed-responsive embed-responsive-4by3">
                  <%= raw link.html %>
                </div>
              <% else %>
                <%= image_tag link.thumbnail_url, class: "img-responsive center-block" %>
              <% end %>
            </div>
            <div class="col-xs-7 col-sm-12">
              <div class="panel-body">
                <h2 class="title gt-reset"><%= link.title %></h2>
                <p class="hidden-xs description gt-top">
                  <%= link.description.to_s.truncate(140) %>
                </p>
                <div class="hidden-xs">
                  <% if user_signed_in? %>

                    <%= link_to link, method: :delete, data: { confirm: 'Are you sure?' } do %>
                      <%= icon('close', '', class: 'btn text-muted pull-right') %>
                    <% end %>

                    <%= link_to edit_link_path(link) do %>
                      <%= icon('pencil', '', class: 'btn text-muted pull-right') %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

        <% end %>
      </div>
    </div>
  <% end %>
</div>
