<div class="row">

  <%= content_tag :div, class: "col-sm-6 cards", id: dom_id(@link) do %>

    <div class="panel panel-default card">
      <div class="panel-heading">
        <%= image_tag @link.favicon_url, width: '16px', class: "img-responsive favicon left gt-right" %>
        <h2 class="panel-title gt-reset text-inline pull-left">
          <%= link_to @link.provider_name, @link.provider_url, :target => '_blank', :rel => 'nofollow', onclick: ("trackOutboundLink:('#{@link.url}');") %>
        </h2>

        <% if @link.liked_by?(current_user) %>
          <div class="vote voted">
            <span class="badge"><%= icon 'caret-up' %>
              <span class="like-count text-inline">
                <%= @link.likes_count %>
              </span>
            </span>
          </div>
        <% else %>
          <div class="vote">
            <span class="badge">
              <%= link_to like_link_path(@link), remote: true, method: 'POST' do %>
                <%= icon 'caret-up' %>
                <span class="like-count text-inline">
                  <%= @link.likes_count %>
                </span>
              <% end %>
            </span>
          </div>
        <% end %>
        <div class="clearfix"></div>
      </div>

      <%= link_to url_with_protocol(@link.url), :target => '_blank', :rel => 'nofollow', onclick: ("trackOutboundLink:('#{@link.url}');") do %>
        <div class="row">
          <div class="col-xs-5 col-sm-12">
            <% if @link.html.present? == true %>
              <div class="embed-responsive embed-responsive-4by3">
                <%= raw @link.html %>
              </div>
            <% else %>
              <%= image_tag @link.thumbnail_url, class: "img-responsive center-block lead-img" %>
            <% end %>
          </div>
          <div class="col-xs-7 col-sm-12">
            <div class="panel-body">
              <h1 class="title gt-reset"><%= @link.title %></h1>
              <p class="hidden-xs description gt-top">
                <%= @link.description.to_s.truncate(140) %>
              </p>

            </div>
          </div>
        </div>
      <% end %>
    </div>

    <strong>Shared by:</strong>
    <%= raw @link.users.map { |user| link_to user.username.humanize, user }.join(', ') %>
  <% end %>

  <div class="col-sm-6">
    <div class="tags">
      <h2>Tags</h2>
      <%= render @link.tags %>

      <div class="hidden-xs">
        <% if user_signed_in? %>
          <%= link_to edit_link_path(@link), class: 'edit-tags', data: { toggle: 'tooltip', placement: 'left', container: 'body' }, title: 'Edit tags' do %>
            <%= icon('pencil', '', class: 'btn text-muted pull-right') %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="comments">
      <h2>Comments</h2>
      <% if user_signed_in? %>
        <%= render 'comments/form', comment: Comment.new(link: @link) %>
        <hr>
      <% end %>
      <%= render @link.comments.roots %>
    </div>

  </div>

</div>
