<div class="container-fluid header">
  <div class="row">
    <div class="container relative">
      <div class="row">
        <div class="col-md-9 col-md-push-3">
          <% if user_signed_in? %>

            <%= form_for Link.new do |f| %>
              <form class="form-horizontal">
                <div class="input-group input-group-lg">
                  <%= f.text_field :url, class: "form-control input-lg", placeholder: "http://" %>
                  <span class="input-group-btn">
                    <%= f.submit "GO", class: "btn btn-primary btn-lg" %>
                  </span>
                </div>
                <span class="help-block">Insert links to articles, blogposts, images, videos etc</span>
              </form>
            <% end %>

          <% else %>

            <div class="pull-right gt-top">
              <%= link_to 'Sign up now', new_user_registration_path, class: 'btn btn-default gt-right' %>
              <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-primary' %>
            </div>

          <% end %>
        </div>
        <div class="clearfix visible-xs"></div>

        <div class="col-md-3 col-md-pull-9">
          <%= link_to root_url do %>
            <%= image_tag ('browzery-beta.png'), class: "img-responsive gt-vrt-lg logo", title: "logo" %>
          <% end %>
        </div>
      </div>

      <div class="row info-field-trigger text-center absolute gt-vrt-lg full-width">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#info-field" aria-expanded="false" aria-controls="collapseExample">
          <%#= icon 'play-circle-o', '', class: 'fa-3x' %>
        </button>
      </div>

      <div class="row collapse" id="info-field">
        <div class="col-xs-12 text-center">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/09R8_2nJtjg" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
