<div class="container-fluid secondary-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="filter">
          <%= form_tag polymorphic_path([@user, Link]), method: 'GET', enforce_utf8: false, data: { form: 'search' } do |f| %>
            <%= text_field_tag :tags, params[:tags], class: 'form-control tag-search', data: { placeholder: 'Search filter', input: 'select2', select: 'search', options: { multiple: true, data: tag_collection } } %>
          <% end %>

          <% if params[:tags].present? %>
            <%= form_for TagCollection.new do |f| %>
              <%= f.hidden_field :tag_list, value: params[:tags] %>
              <%= f.submit t('.follow_tags', count: params[:tags].split(',').count) %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-sm-6 hidden-xs">
        <% if user_signed_in? %>
          <div class="btn-group pull-right user-nav">
            <%= link_to user_links_path(current_user), class: "btn btn-default" do %>
              <%= icon 'user', '', class: 'fa-fw' %> <%= current_user.username %>
            <% end %>
            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
              <span class="fa fa-caret-down"></span></a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to user_links_path(current_user) do %>
                  <%= icon 'chain', '', class: 'fa-fw' %> My links</a>
                <% end %>
              </li>
              <li>
                <%= link_to user_tag_collections_path(current_user) do %>
                  <%= icon 'chain', '', class: 'fa-fw' %> My collections</a>
                <% end %>
              </li>
              <li>
                <%= link_to edit_user_registration_path do %>
                  <%= icon 'cog', '', class: 'fa-fw' %> Settings</a>
                <% end %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to destroy_user_session_path, :method => :delete do %>
                  <%= icon 'ban', '', class: 'fa-fw' %> Sign out</a>
                <% end %>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
