<!DOCTYPE html>
<html>
<head>
  <title>browzery</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag "app-icon.png", rel: 'apple-touch-icon', type: 'image/png' %>
  <%= favicon_link_tag "favicon.ico", rel: 'shortcut icon', type: 'image/png' %>
</head>
<body>
  <%= render 'site/header' %>
  <%= render 'site/secondary_header' %>

  <div class="container gt-top-lg">

    <div class="row">
      <div class="col-xs-12">
        <% if notice %>
          <p class="well text-success"><%= notice %></p>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <%= content_for?(:second_level_layout) ? yield(:second_level_layout) : yield %>
      </div>
    </div>

  </div>

</body>
</html>
